.inspiration-title{
  margin-left: 80px;
  margin-top: 48px;
  font-size: 1.8rem;
  font-weight: 600;
}
.inspiration-container{
  margin-top: 24px;
  
  .inspiration-cards-container {
    display: flex;
    padding: 0px 80px;
    
    .inspiration-card {
      margin: 30px 0px 30px 0 ;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
      transition: transform 200ms ease-in;
      cursor: pointer;
      .inspiration-card-img{
        // width: 24%;
        // height: 50%;
        // width: 100%;
        width: 25vw;
        & > img {
          object-fit: cover;
          // min-width: 300px;
          // min-height: 200px;
          // width: 100%;
          // max-width: 24vw;
          height: 28vh;
        }
      }
      &:not(:last-child){
        margin: 30px 30px 30px 0 ;
      }
      &:hover {
        transform: scale(1.01);
      }

      .card__info {
          margin-top: -9px;
          border-radius: 10px;
          padding: 20px;
          padding-top: 20px;
          border: 1;
          & > h2 {
            font-size: 18px;
            font-weight: 600;
          }
          & > h4 {
            font-size: 14px;
            font-weight: 300;
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
    }
  }
  
}





  