.filter-header{
   
    justify-content: space-between;
}

.round-button{
   
}

.special-stay li{
    
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1.0rem;
}

.round-button button{
    background-color: white;
    border-radius: 15px;
    margin: 10px;
   padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    border-width: 0.1px;
    border-color: rgba(214, 211, 211, 0.918);
    
}

.cal-modal{
    height:400px ;
    width: 35rem;
    // display: none;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    background-color: whitesmoke;
    border-color: rgb(182, 177, 177);
    border-radius: 10%;
    left: 50rem;
    bottom: 27rem;
    // float: right;

}

.guests-modal{
    height:400px ;
    width: 35rem;
    // display: none;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    background-color: whitesmoke;
    border-color: rgb(182, 177, 177);
    border-radius: 10%;
    left: 62rem;
    bottom: 27rem;

}

.filters-modal{
    height:25rem ;
    width: 15rem;
    // display: none;
    // visibility: hidden;
    position: absolute;
    z-index: 5;
    background-color: whitesmoke;
    border-color: rgb(182, 177, 177);
    border-radius: 10%;
    left: 62rem;
    bottom: 25rem;
}
    