.stay-details-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 500px 1fr 500px;
  justify-items: center;
  font-size: 1.3rem;
}
.stay-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stay-name {
  font-size: 2em;
  line-height: 50px;
  color: $gray;
}

.stay-info {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 70px;

  .reviews {
    text-decoration: underline;
  }

  .stay-address {
    color: $gray;
  }
}

.divider {
  display: flex;
  gap: 20px;

  .left-side {
    justify-items: flex-end;
    z-index: 100;
    width: 60%;
  }
  .right-side {
    width: 40%;
  }
}
.social {
  display: flex;
  gap: 10px;
}

.center-layout {
  grid-column: 2;
}

.stay-details-images {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  grid-template-rows: 350px 350px;
  grid-gap: 8px;

  :first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  :nth-child(3) {
    border-top-right-radius: 15px;
  }
  :nth-child(5) {
    border-bottom-right-radius: 15px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.stay-details-hosted {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: $stay-details-padding;

  .hosted-by {
    font-size: 2rem;
    display: flex;
    margin-bottom: 20px;
  }
  .beds {
    color: $gray;
  }
}

.stay-details-description {
  border-bottom: 1px solid #bebebe;
  padding: $stay-details-padding;
  max-width: 75ch;
  line-height: 1.6;

  .info {
    display: flex;
    align-items: center;

    span {
      font-size: 5px;
    }
  }
}

.stay-details-ameneties {
  --n: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(200px, 100% / var(--n)), 1fr));
  border-bottom: 1px solid rgb(190, 190, 190);
  grid-gap: 20px;

  padding: $stay-details-padding;

  .amenity {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
}

.reviews-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  padding: $stay-details-padding;
  grid-gap: 50px;

  .host-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .review-preview-header {
    display: flex;
    align-items: center;
    .fullname {
      font-weight: bold;
    }
  }
  .review-preview-text-container {
    display: flex;
    flex-direction: column;
    line-height: 24px;
  }
}
