// .stay-list {
//   // grid-column: 2;
//   display: flex;
//   position: relative;
//   margin: 20px;
//   padding: 20px;
//   border-bottom: 1px solid lightgray;
//   cursor: pointer;
//   flex-wrap: wrap;
// }

.stay-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
  justify-items: stretch;
}
.stay-type{
  
}

.stay-type:hover{
  cursor: pointer;
}

// .stay-type:active{
//     border-bottom:springgreen solid;
// }


// .stay-type:hover::after{
//   color: aqua;
// }




