.order-container {
  border: 1px solid #00000030;
  border-radius: 13px;
  padding: 20px;
  width: 100%;
  margin-top: 50px;
  height: max-content;
  margin-left: auto;
  .charge {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    font-family: circular-light;
    margin-top: 11px;
    color: $dark-gray;
  }

  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
  .order-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    align-items: center;

    .reserve-reviews {
      display: flex;
      gap: 2px;
      font-size: 15px;
      color: $dark-gray;
      font-weight: 400;
    }

    .night {
      font-size: 16px;
      font-family: circular-light;
      font-weight: 400;
    }
    .reviews {
      text-decoration: underline;
      font-size: rem(14px);
    }
  }

  .order-data {
    border: 1px solid #00000050;
    border-radius: 13px;
    margin-bottom: 15px;
  }
  .date-picker {
    display: flex;
    justify-content: space-between;

    .date-input {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 14px;

      padding-bottom: 10px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 15px;
      &:last-of-type {
        border-left: 1px solid #00000050;
      }
    }
  }
  .guest-input {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #00000050;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    .guests {
      display: flex;
      font-size: 14px;
      gap: 5px;
      align-items: baseline;
    }
  }
  input {
    border: none;
    padding: 0 0;
    outline: none;
    width: 100%;
  }
  label {
    font-weight: 600;
    font-size: 0.75em;
  }
  span.cost {
    font-weight: 700;
    font-size: rem(22px);
  }
  span.reviews {
    color: #00000070;
    font-size: 0.85em;
    text-decoration: underline;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  font-size: 20px;
}

.btn-container {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
  border: none;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  @for $i from 0 to 10 {
    .cell:nth-child(10n + #{$i + 1}):hover ~ .content {
      --positionX: #{$i};
    }

    .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover ~ .content {
      --positionY: #{$i};
    }
  }
}

.cell {
  width: 100%;
  height: 100%;
  z-index: 1;
  // border: 1px solid rgba(128, 128, 128, 0.753);
}

.content {
  --positionX: 0;
  --positionY: 5;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;

  background-image: radial-gradient(
    circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
    rgb(241, 37, 75) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}

.button-main {
  position: sticky;
  box-shadow: black;
  .date-range {
    position: absolute;
    top: 50%;
    left: -43.2%;
  }
  .guest-menu {
    position: absolute;
    top: 63%;
    background-color: white;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    z-index: 200;
    .save {
      position: absolute;
      left: 80%;
    }
  }
}

.action-btn {
  cursor: pointer;
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;

  span {
    padding: 0 0;
    margin: 0 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: sans-serif;
  }
  p.footer {
    color: gray;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
