* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

.App {
  min-height: 100vh;    
  display: flex;
  flex-direction: column;
} 

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(2rem,1fr) minmax(auto,1500px) minmax(2rem,1fr);
  justify-items: center;
}

