* {
  box-sizing: border-box;
  margin: 0;
  // padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: circular-light;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  // font-family: airbnb;
  // font-family: airbnb-regular, sans-serif;
}

main.main-root {
  flex-grow: 1;
  display: grid;
  // grid-template-columns: minmax(2rem,1fr) minmax(auto,1500px) minmax(2rem,1fr);
  grid-template-columns: 80px 1fr 80px;
  justify-items: center;
}
