.flex{
    display: flex;
}

// .square-ratio {
//     @include aspect-ratio(1, 1);
// }
// .video-ratio {
//     @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//     @include aspect-ratio(9, 16);
// }
// .entire-layout {
//   grid-column: 1/-1;
//   // padding: 1rem;
//   outline: 5px solid gold;
// }
.center-layout{
grid-column: 2;
}

.clean-link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
<<<<<<< HEAD

.clean-list{
    list-style-type: none;
}
=======
>>>>>>> 4f135f952751dbdaa0d2a6f05fc55e9cf01b7d82
