.center-layout {
  grid-column: 2;
}

.flex {
  display: flex;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// .square-ratio {
//   @include aspect-ratio(1, 1);
// }
// .video-ratio {
//   @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//   @include aspect-ratio(9, 16);

//   .entire-layout {
//     grid-column: 1/-1;
//     // padding: 1rem;
//     outline: 5px solid gold;
//   }
//   .center-layout {
//     grid-column: 2;
//   }
// }
