<<<<<<< HEAD
.flex{
    display: flex;
}

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
=======
.entire-layout {
  grid-column: 1/-1;
  // padding: 1rem;
  // outline: 5px solid gold;
}
.center-layout{
grid-column: 2;
>>>>>>> ff972fb30f8b81e2cdc09ea61bb5af0ba9222f7b
}